.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar{
  margin:auto;
  position:absolute;
  left:90%;
  margin-right: 1000px;
  background-color: grey;
  border: 10px grey;
  border-radius: 10px;
}
.button{
  font: bold 14px Robotica;
  text-decoration: none;
  color: #EEEEEE;
  padding: 4px 6px 4px 6px;
}
.button2 {
	box-shadow:inset 0px 1px 0px 0px lightgrey;
	background:linear-gradient(to bottom right, lightgrey 5%, black 100%);
	background-color:black;
	border-radius:6px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #ffffff; */
}
.button2:hover {
	background:linear-gradient(to bottom left, rgb(0, 0, 0) 5%, lightgrey 100%);
	background-color:#f6f6f6;
}
.button2:active {
	position:relative;
	top:1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.select-style {
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa no-repeat 90% 50%;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}